@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   display: flex;
   justify-content: center;
   background-color: #1c1c1c;
   min-height: 100vh;
}
.background {
   position: fixed;

   height: 400px;
   width: 400px;
   background: radial-gradient(
      circle,
      hsla(40, 20%, 24%, 1) 0%,
      hsla(0, 0%, 11%, 1) 70%
   );

   background: -moz-radial-gradient(
      circle,
      hsla(40, 20%, 24%, 1) 0%,
      hsla(0, 0%, 11%, 1) 70%
   );

   background: -webkit-radial-gradient(
      circle,
      hsla(40, 20%, 24%, 1) 0%,
      hsla(0, 0%, 11%, 1) 70%
   );

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#484030", endColorstr="#1C1C1C", GradientType=1 );
}

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* max-width: 1280px; */
   width: 100%;

   font-family: "Playfair Display", "Times New Roman", Times, serif;
}

li {
   list-style-type: none;
}
